# IDE and Editor specific files
# -------------------------------
.vscode/
.idea/
*.swp
.amazonq
.kiro
.kilocode
*~

# OS-specific files
# -------------------------------
.DS_Store

# Log files
# -------------------------------
*.log

# Node.js / Package Manager
# -------------------------------  
node_modules/
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml

# Biome (local use only)
# -------------------------------  
biome.json
